# dependencies
/node_modules

# production
/dist

# Vite cache
/.vite

# environment variables
.env
.env.*.local

# local logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor directories and files
.vscode
.idea
*.suo
.ntvs
*.njsproj
*.sln

# system files
.DS_Store
Thumbs.db

# Backend-specific ignores
/movie-backend/node_modules
/movie-backend/.env
/movie-backend/.env.*.local

/movie-frontend/node_modules
/movie-frontend/.env
/movie-frontend/.env.*.local
